/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .category__title {
    line-height: 25px;
  }
  .category__text {
    font-size: 15px;
    line-height: 22px;
  }
  .btn-white {
    margin: 15px -12px 15px;
    max-width: 200px;
    text-align: center;
    padding-left: 35px;
  }
  .fa-plus {
    position: absolute;
    left: 10px;
    top: 13px;
  }
}

@media only screen and (max-width: 992px) {
  .btn-white {
    text-align: right;
    margin-top: -10px;
    font-size: 12px;
  }
  .category__text {
    font-size: 12px;
    max-width: 100px;
  }
  .btn {
    padding: 5px 25px;
  }
  .fa-plus {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 12px;
  }
  .btn-white-modern {
    margin-left: 30px;
  }
  .btn-whit {
    font-size: 12px;
  }
  .p {
    margin: 0 10% 0;
  }
  .btn-whit {
    margin: -5px 10% 0;
  }
  .client {
    margin: auto;
  }
  .fa-arrow-circle-right {
    font-size: 12px;
    right: 10px;
    top: 13px;
  }
  .s_working {
    padding-top: 10px;
  }
  .category {
    margin: 0;
  }
  .works {
    padding-top: 20px;
  }
  .category-img {
    margin-top: 0;
  }
  .s_services {
    padding-top: 40px;
  }
  .working-servis {
    margin: 0;
  }
  .team {
    padding: 0;
  }
  .item {
    margin: 0;
  }
  .client-margin-top {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .btn-white {
    margin-top: 32px;
    max-width: 200px;
    text-align: center;
    padding-left: 35px;
  }
  .btn {
    padding: 10px 40px;
  }
  .category__text {
    text-align: center;
    max-width: 200px;
  }
  .fa-plus {
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 12px;
  }
  .modern__title {
    font-size: 21px;
    line-height: 35px;
  }
  .modern__text-2 {
    margin-top: 20px;
  }
  .modern__title:after {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .modern__text {
    font-size: 13px;
  }
  .btn-white-modern {
    margin-top: -20px;
  }
  .btn-whit {
    margin: -40px 15% 0;
  }
  .client__text {
    font-size: 15px;
  }
  .fa-arrow-circle-right {
    font-size: 13px;
    right: 16px;
    top: 16px;
  }
  .item {
    margin: 25% auto 0;
  }
  .category-img {
    margin: 50px auto 0;
  }
  .category {
    margin: 60px auto 0;
  }
  .worki {
    margin-top: 100px;
    margin-bottom: -100px;
  }
  .fa-arrow-alt-circle-up {
    top: -175px;
    right: 10%;
  }
  .header__title {
    line-height: 1.6em;
  }
  .fea {
    margin-top: 30px;
  }
  .clien {
    margin-top: 150px;
  }
  .work {
    margin-bottom: -120px;
  }
}

@media only screen and (max-width: 480px) {
  .contact-menu {
    margin: 40px 0 0;
  }
  .header__title {
    margin-top: 20px;
    line-height: em(50px);
    margin-bottom: 20px;
  }
  .form {
    margin-top: 40px;
  }
  .s_working {
    padding: 40px 0 0;
  }
  .category {
    margin: 60px auto 0;
  }
  .works {
    padding-top: 40px;
  }
  .s_services {
    padding-top: 40px;
  }
  .team {
    padding-top: 0px;
  }
  .contact-menu {
    margin-right: 40px;
  }
  .s_contact {
    padding-bottom: 40px;
  }
  .client__text {
    margin-top: 20%;
    font-size: 16px;
  }
  .fa-arrow-alt-circle-up {
    top: -175px;
    right: 5%;
  }
}

@media only screen and (max-width: 420px) {
  .contact-menu {
    margin-left: -38px;
  }
  header .header__title {
    line-height: 1.5em;
  }
  .clien {
    margin-top: 130px;
  }
  .work {
    margin-bottom: -100px;
  }
  .worki {
    margin-bottom: -50px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .worki {
    margin-top: 100px;
    margin-bottom: -50px;
    line-height: 1.4em;
  }
  .fea {
    margin-bottom: 0px;
  }
  .fa-arrow-alt-circle-up {
    top: -230px;
  }
  .item {
    margin: 50% auto 0;
  }
  .work {
    margin-bottom: -200px;
    line-height: 1.3em;
  }
  .header__text-height {
    display: none;
  }
}

/* Extra Small Devices, Phones */
